# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Caches and logs
*.log
*.cache
.pytest_cache/

# Virtual environment directory
llm_mapreduce_env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
